@font-face {
  font-family: "PixelOperator";
  src: url("./fonts/PixelOperator.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Use fonts for web */
* {
  font-family: "PixelOperator", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 4rem;
  padding: 5px;
}

.comic-text-box {
  background-color: #fff;
  padding: 15px 25px;
  max-width: 600px;
  font-size: 1.2em;
  line-height: 1.5em;
  box-shadow: 5px 5px 0 #000, 10px 10px 0 #777;
  position: relative;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #000;
  text-align: center;
  margin: 50px auto 0;
}

.comic-text-box:before {
  content: open-quote;
  font-size: 2em;
  color: #000;
  position: absolute;
  left: 10px;
  top: -10px;
}

.comic-text-box:after {
  content: close-quote;
  font-size: 2em;
  color: #000;
  position: absolute;
  right: 10px;
  bottom: -10px;
}

.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border-color: #000;
  border-style: inset;
  object-fit: cover;
  overflow: hidden;
  margin-top: 50px;
}

.section-before {
  border-top: 4px solid #2d3748;
  height: 4px;
  width: 500px;
  margin: 32px auto;
}

.skills-icon {
  font-size: 100px; /* Adjust this value to change the size */
  width: auto; /* Ensure the icon maintains aspect ratio */
  height: auto;
  color: #2d3748;
}

.about-me {
  background-color: #fff;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.about-me h2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 2rem;
}

.about-me p {
  text-align: left;
  line-height: 1.5;
  color: #333;
  font-size: 1.2rem;
}

.skills h2 {
  text-align: center; /* Align heading to the left */
  margin-bottom: 20px; /* Space below the heading */
  font-size: 2rem; /* Size of the heading */
}

.projects {
  margin: 20px auto; /* Center the project section */
  max-width: 800px; /* Set a max-width for the section */
}

.projects h2 {
  text-align: center; /* Align heading to the left */
  margin-bottom: 20px; /* Space below the heading */
  font-size: 2rem; /* Size of the heading */
}

.projects-grid {
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Responsive columns */
  gap: 20px; /* Space between project boxes */
  margin-top: 20px; /* Space above the grid */
}

.project-item {
  background-color: #fff; /* White background */
  padding: 15px; /* Inner spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

.project-item:hover {
  transform: translateY(-5px); /* Move up on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.project-item h3 {
  margin-bottom: 10px; /* Space below project title */
  font-size: 1.5rem; /* Size of the project title */
}

.project-item p {
  line-height: 1.5; /* Line height for better readability */
  color: #333; /* Text color */
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.download-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #2d3748;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 20px 0;
}

.download-button:hover {
  background-color: #3c5d80;
}

.contact-area {
  padding: 40px 20px;
  background: #eee;
}

.contact-wrapper {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
}

.contact-form {
  flex: 0 0 100%; /* Set width for the form (100%) */
  margin-right: 20px;
  max-width: 600px; /* Added max width for the form */
  margin: 0 auto; /* Center the form */
}

.form-group {
  margin-bottom: 15px; /* Space between form fields */
}

.contact input,
.contact textarea {
  background: #fff;
  border: 2px solid #000; /* Black border */
  border-radius: 8px;
  color: #232434;
  font-size: 1rem;
  height: 50px; /* Increased height */
  padding: 12px 15px; /* Adjusted padding for better spacing */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.contact textarea {
  height: auto;
  resize: vertical;
  padding: 12px 15px; /* Adjusted padding */
  min-height: 100px; /* Increased minimum height for better usability */
}

.btn-contact-bg {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #2d3748;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 20px 0;
}

.btn-contact-bg:hover,
.btn-contact-bg:focus {
  background: #232434; /* Darker background on hover/focus */
}

@media only screen and (max-width: 390px) {
  body {
    font-size: 2em;
    background-color: #e0e0e0;
  }

  header {
    background-color: teal;
  }

  h1 {
    font-size: 2rem; /* Adjust to a smaller size */
  }
}
